.page.theme_dark {
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --article-title-color: var(--background-color);
  --section-title-color: var(--title-shadow);
  --border-color: var(--main-text-color);
  --text-color: var(--title-shadow);
  --title-decor: var(--title-shadow);
  --link-shadow: var(--title-shadow);
  --rec-color: var(--title-shadow);
  --hover-color: 1px solid rgba(255, 0, 112, 0.4);
  --background-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-shadow: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --article-title-color: var(--background-color);
    --section-title-color: var(--title-shadow);
    --outline-color: var(--title-shadow);
    --accent-color: #ff0070;
    --link-shadow: var(--title-shadow);
    --rec-color: var(--title-shadow);
    --hover-color: 1px solid rgba(255, 0, 112, 0.4);
    --background-color: #000028;
  }
}
