.footer {
  padding: 20px;
  min-height: max(100vh, 668px);
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

@media (width <= 376px) {
  .footer {
    padding: 0 14px;
  }
}
