.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-height: max(100vh, 668px);
  padding: 20px;
  align-items: center;
}

.header__theme-menu {
  height: max-content;
  align-self: start;
  justify-content: center;
  gap: 11px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (width < 768px) {
  .header {
    padding: 10px;
  }
}

@media (width <= 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
  .header__theme-menu {
    align-self: center;
  }
}

@media (width <= 375px) {
  .header__theme-menu-list {
    gap: 13px;
  }
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  max-inline-size: 50%;
  color: var(--article-title-color);
  font-weight: 700;
}

@media (width <= 376px) {
  .header__subtitle {
    max-inline-size: 100%;
  }
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
}

@media (width < 768px) {
  .header__rec {
    top: 11px;
    right: 39px;
  }
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu-button {
  border: none;
  border-block-end: 1px solid transparent;
  /*color: var(--navigation-text-color);*/
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 70px;
}

.header__theme-menu-button {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  color: var(--outline-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--outline-color);
}

.header__title {
  margin-left: -2%;
}

@media (width <= 768px) {
  .header__title {
    margin-left: -3%;
  }
}

.title-decor {
  background: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  font-family: inherit;
}
