<<<<<<< HEAD
@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-shadow: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --article-title-color: var(--background-color);
    --section-title-color: var(--title-shadow);
    --outline-color: var(--title-shadow);
    --accent-color: #ff0070;
    --link-shadow: var(--title-shadow);
    --rec-color: var(--title-shadow);
    --hover-color: 1px solid rgba(255, 0, 112, 0.4);
    --background-color: #000028;
  }
}

.page.theme_light {
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --accent-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --article-title-color: var(--main-text-color);
  --section-title-color: var(--main-text-color);
  --outline-color: var(--main-text-color);
  --link-shadow: var(--title-color);
  --rec-color: var(--background-color);
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-color: rgba(255, 241, 247, 1);
}

.page.theme_light .header__rec {
  display: none;
}
=======
@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #f1b2ce;
    --title-color: #db00ff;
    --title-shadow: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --article-title-color: var(--background-color);
    --section-title-color: var(--title-shadow);
    --outline-color: var(--title-shadow);
    --accent-color: #ff0070;
    --link-shadow: var(--title-shadow);
    --rec-color: var(--title-shadow);
    --hover-color: 1px solid rgba(255, 0, 112, 0.4);
    --background-color: #000028;
  }
}

.page.theme_light {
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --accent-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --article-title-color: var(--main-text-color);
  --section-title-color: var(--main-text-color);
  --outline-color: var(--main-text-color);
  --link-shadow: var(--title-color);
  --rec-color: var(--background-color);
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-color: rgba(255, 241, 247, 1);
}

.page.theme_light .header__rec {
  display: none;
}
>>>>>>> e8f55b089697f79302b7c1f9a34815fb38af3975
