<<<<<<< HEAD
.section_what .section_title {
  width: 30%;
  padding-bottom: 20px;
}

@media (width < 768px) and (width >= 375px) {
  .section_what .section_title {
    width: 100%;
  }
}

.section_what_article_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

@media (width <= 768px) {
  .section_what_article_list {
    display: flex;
    flex-direction: column;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .section_what_article_list {
    gap: 20px;
  }
}

.section_what_list_item {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width <= 768px) {
  .section_what_list_item {
    flex: 1 0 auto;
    width: 100%;
  }
}
=======
.section_what .section_title {
  width: 30%;
  padding-bottom: 20px;
}

@media (width < 768px) and (width >= 375px) {
  .section_what .section_title {
    width: 100%;
  }
}

.section_what_article_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

@media (width <= 768px) {
  .section_what_article_list {
    display: flex;
    flex-direction: column;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .section_what_article_list {
    gap: 20px;
  }
}

.section_what_list_item {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width <= 768px) {
  .section_what_list_item {
    flex: 1 0 auto;
    width: 100%;
  }
}
>>>>>>> e8f55b089697f79302b7c1f9a34815fb38af3975
