.section:first-of-type {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: 20px;
}

@media (width < 768px) {
  .section:first-of-type {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.section:first-of-type .section_article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.section:first-of-type .section_article_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
